/***

510F36 //mahomgiy
FF20A7 //medium pink
FFA6DC //light pink
FFC2E6 //lightest pink
FFF6FC //white
FF125D //gorgerous red
54A8FF //darker than lightblue
BDDEFF //lightblue

***/

/* Bordered form */
form {
    background-color: #FFC2E6;
    margin: auto;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .main-button {
    background-color: #FFF6FC;
    color: #510F36;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #510F36;
    cursor: pointer;
    width: 50%;
    border-radius: 10px;
    margin: auto;
  }
  .sub-button {
    color: #510F36;
    padding: 14px 20px;
    text-decoration: underline;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    background-color: #FFC2E6;
  }
  form {
      width: 50%;
  }
  .center{
    margin: auto;
    display: block;
    text-align: center;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 400px) {
    span.psw {
      display: block;
      float: none;
    }
    .main-button {
      width: 100%;
    }
    .sub-button {
        width: 100%;
      }
  }