/***

510F36 //mahomgiy
FF20A7 //medium pink
FFA6DC //light pink
FFC2E6 //lightest pink
FFF6FC //white
FF125D //gorgerous red
54A8FF //darker than lightblue
BDDEFF //lightblue

***/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #510F36;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav .right-nav {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav .left-nav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a img {
      fill: #FFF6FC;

  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
