body {
    font-size: 100%;
	font-family: Arial;
	background-color: FFF6FC;
}

.header {
    background-color: 510F36;
	border-radius: 0px;
}

.profile {
    background-color: FFC2E6;
	border-radius: 24px;
	max-width: 80%;
 	margin: 3% auto;
	display: flex;
	height: 100%;
}

.profile img {
	padding: 20px;
	max-height: 20em;
	margin: 10px;
}

.profile .pictures img {
	padding: 20px;
	width: 8em;
	height: 8em;
	margin: auto;
}

.profile .text h1{
	display: flex;
	justify-content: flex-start;
    align-items: flex-end;
	color: black;
 	font-size: 50px;
  	margin: 40px;
}

.profile .text p{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	color: black;
 	font-size: 20px;
  	margin: 20px;
}