/***

510F36 //mahomgiy
FF20A7 //medium pink
FFA6DC //light pink
FFC2E6 //lightest pink
FFF6FC //white
FF125D //gorgerous red
54A8FF //darker than lightblue
BDDEFF //lightblue

***/

body {
    background-color: #FFF6FC;
}
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
* {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    color: #510F36;
}

.w-50 {
    width: 50%;
}

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }