/***

510F36 //mahomgiy
FF20A7 //medium pink
FFA6DC //light pink
FFC2E6 //lightest pink
FFF6FC //white
FF125D //gorgerous red
54A8FF //darker than lightblue
BDDEFF //lightblue

***/

body {
    background-color: #FFF6FC;
}

* {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    color: #510F36;
}

.w-50 {
    width: 50%;
}