body {
    font-size: 100%;
	font-family: Arial;
	background-color: FFF6FC;
}

.header {
    background-color: 510F36;
	border-radius: 0px;
}

.profile {
    background-color: FFC2E6;
	border-radius: 20px;
	margin: 100px;
}

.profile img {
	padding: 20px;
	border-radius: 0;
	max-width: 20em;
	max-height: 15em;
}